# Node modules
node_modules/

# Build output
dist/
build/

# Logs
logs/
*.log
npm-debug.log*

# Dependency directories
.pnp/
.pnp.js

# OS-specific files
.DS_Store
Thumbs.db

# Environment variables
.env
